table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

table, form{
    margin-left: 30px;
    margin-top: 1rem;
}

.inline {
    display: inline;
}

.link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
}
.link-button:focus {
    outline: none;
}
.link-button:active {
    color:red;
}

body {
    background-color: lightblue;
}

* {
    cursor: url("smallchad.png"), auto;
}

h1,h2,h3,h4 {
    color:#77FF77;

}
p, label, th, td {
    color:#FF7777;
}

button{
    color: white;
    background: forestgreen;
}