<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/based.css}"/>
  <title>Fill out survey</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1 th:text="${surveyName}"></h1>

<form action="#" th:action="@{'/survey/'+${surveyID}+'/answer'}" th:object="${response}" method="post">
  <div>
    [(${questions})]
  </div>
  <p><input type="submit" value="Submit Answers" /></p>
</form>
<br>
<button type="button">
  <a th:href="@{/}">Return Home</a>
</button>

</body>
</html>