<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/based.css}"/>
  <script type="text/javascript" th:src="@{/webjars/htmx.org/1.8.6/dist/htmx.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/hyperscript.org/0.9.8/dist/_hyperscript.js}"></script>
  <title>Fill out survey</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1 th:text="${surveyName}"></h1>

<form action="#" th:action="@{'/survey/'+${surveyID}+'/answer'}" th:object="${response}" method="post">
  <div th:attr="hx-get=@{/survey/{id}/answer/0(id =${surveyID})}" hx-swap="afterend" hx-trigger="revealed" ></div>
  <p><input type="submit" value="Submit Answers" /></p>
</form>
<br>
<button type="button">
  <a th:href="@{/}">Return Home</a>
</button>

</body>
</html>