<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/1.8.6/dist/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/hyperscript.org/0.9.8/dist/_hyperscript.js}"></script>
    <link rel="stylesheet" th:href="@{/based.css}"/>
    <meta charset="UTF-8">
    <title>Based Survey</title>
</head>
<body>
    <form method="post" th:action="@{/survey/create}">
        <label for="surveyname">Create a new survey:</label><br>
        <input type="text" id="surveyname" name="name" value="Mysurvey"><br>
        <input type="submit" value="Submit">
    </form>
        <table>
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Fill</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
                <th scope="col">Results</th>
                <th scope="col">Finish</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
                <tr hx-swap="afterend" hx-trigger="revealed" hx-get="surveys/0"></tr>
            </tbody>
        </table>
    <div style="position:fixed; bottom: 0; right: 0;" >
    <h1>Music to enjoy while looking at surveys</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/su1_1bX5NlQ?autoplay=1&mute=0&loop=1" title="Based music" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
    </div>
</body>
</html>