<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/index.css}"/>
    <meta charset="UTF-8">
    <title>Based Survey</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Edit Survey</h1>
<table>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Question</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="survey: ${surveys}">
        <td th:text="${survey.getId()}"></td>
        <td ><a th:href="${'/survey/'+ survey.getId()}" th:text="${survey.getName()}"></a></td>
        <td >
            <form method="post" th:action="@{/survey/delete}" class="inline">
                <input type="hidden" name="id" th:value="${survey.getId()}">
                <button type="submit" name="submit_param" value="submit_value" class="link-button">
                    X
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form method="post" th:action="@{/survey/create}">
    <p>New Multiple Choice Question:
        <input type="hidden" name="id" th:value="${question.getId()}"/>
        <button type="submit">Add</button>
    </p>
</form>
<form method="post" th:action="@{/survey/create}">
    <p>New Range Question:
        <input type="hidden" name="id" th:value="${question.getId()}"/>
        <button type="submit">Add</button>
    </p>
</form>
<form method="post" th:action="@{/survey/create}">
    <p>New Long Answer Question:
        <input type="hidden" name="id" th:value="${question.getId()}"/>
        <button type="submit">Add</button>
    </p>
</form>
</body>
</html>