<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/1.8.6/dist/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/hyperscript.org/0.9.8/dist/_hyperscript.js}"></script>
    <link rel="stylesheet" th:href="@{/based.css}"/>
    <meta charset="UTF-8">
    <title>Based Survey</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div th:if="${!survey.isOpen()}">
    <h1>Edit Survey</h1>

    <form method="post" th:action="@{/survey/openSurvey}">
        <input type="hidden" name="id" th:value="${survey.getId()}"/>
        <input type="hidden" name="enable" th:value="${!survey.isOpen()}"/>
        <p>Open Survey:
            <button type="submit" th:text="${survey.isOpen()?'close survey':'open survey'}">Open</button>
        </p>
    </form>

    <h2 th:text="'Survey ID: '+${survey.getId()}">Survey ID</h2>
    <div th:replace="fragments/EditSurveyName::default-name"/>
    <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Question</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question: ${questions}">
            <td th:text="${question.getId()}"></td>
            <td><a th:href="@{/question/{q}(q=${question.getId()})}" th:text="${question.getPrompt()}"></a></td>
            <td>
                <button hx-confirm="Are you sure you want to delete this based question?" hx-target="closest tr" hx-swap="outerHTML" hx-trigger="click" th:attr="hx-delete=@{/question/delete/{id}(id=${question.getId()})}">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <form method="post" th:action="@{/question/create}">
        <h1>Make a New Based Question</h1>
        <p>
            Name:
            <input type ="text" name = "prompt" value = "New Based Question"/>
            <br>
            <br>
            Additional Info (optional):
            <input type ="text" name = "additionalInfo" value = ""/>
            <input type="hidden" name="surveyID" th:value="${survey.getId()}"/>
        </p>
        <p>
            <select name="qt">
                <option th:each="type : ${T(com.based.basedsurvey.data.QuestionTypes).values()}"
                        th:value="${type}" th:text="${type.toString()}"></option>
            </select>
            <button type="submit">Add</button></p>
    </form>
</div>
<div th:if="${survey.isOpen()}">
    <p>This survey cannot be edited as it is open!</p>
</div>

<button type="button">
    <a th:href="@{/}">Return Home</a>
</button>

</body>
</html>